(
  resources: {},
  entities: {
    8589934158: (
      components: {
        "bevy_ecs::name::Name": "Player",
        "bevy_transform::components::transform::Transform": (
          translation: (6.1218543, 1.8500539, -8.501581),
          rotation: (-0.09763427, -0.24856396, -0.025191559, 0.9633529),
          scale: (1.0, 1.0, 1.0),
        ),
        "bevyrpg::character::Health": (100),
        "bevyrpg::character::Hunger": (
          value: 95,
          timer: (
            stopwatch: (
              elapsed: (
                secs: 2,
                nanos: 166299737,
              ),
              is_paused: false,
            ),
            duration: (
              secs: 5,
              nanos: 0,
            ),
            mode: Repeating,
            finished: false,
            times_finished_this_tick: 0,
          ),
        ),
        "bevyrpg::character::Mana": (100),
        "bevyrpg::character::Sleep": (
          value: 90,
          timer: (
            stopwatch: (
              elapsed: (
                secs: 2,
                nanos: 166299737,
              ),
              is_paused: false,
            ),
            duration: (
              secs: 5,
              nanos: 0,
            ),
            mode: Repeating,
            finished: false,
            times_finished_this_tick: 0,
          ),
        ),
        "bevyrpg::character::Thirst": (
          value: 95,
          timer: (
            stopwatch: (
              elapsed: (
                secs: 2,
                nanos: 166299737,
              ),
              is_paused: false,
            ),
            duration: (
              secs: 5,
              nanos: 0,
            ),
            mode: Repeating,
            finished: false,
            times_finished_this_tick: 0,
          ),
        ),
        "bevyrpg::player::Player": (),
      },
    ),
    8589934165: (
      components: {
        "bevy_ecs::name::Name": "Rover",
        "bevy_transform::components::transform::Transform": (
          translation: (-20.301025, 0.7500005, -54.784157),
          rotation: (0.0, 0.7071067, 0.0, 0.70710677),
          scale: (1.0, 1.0, 1.0),
        ),
        "bevyrpg::rover::Rover": (),
      },
    ),
  },
)