(
  resources: {},
  entities: {
    8589929641: (
      components: {
        "bevy_ecs::name::Name": "Rover",
        "bevy_transform::components::transform::Transform": (
          translation: (-20.301025, 0.7499991, -54.784157),
          rotation: (0.0, 0.70710665, 0.0, 0.7071069),
          scale: (1.0, 1.0, 1.0),
        ),
        "bevyrpg::rover::Rover": (),
      },
    ),
    8589929642: (
      components: {
        "bevy_ecs::name::Name": "Player",
        "bevy_transform::components::transform::Transform": (
          translation: (14.659873, 1.8501318, -13.786207),
          rotation: (-0.06535912, 0.07037058, 0.0046207686, 0.9953667),
          scale: (1.0, 1.0, 1.0),
        ),
        "bevyrpg::character::Health": (100),
        "bevyrpg::character::Hunger": (
          value: 95,
          timer: (
            stopwatch: (
              elapsed: (
                secs: 3,
                nanos: 284547579,
              ),
              is_paused: false,
            ),
            duration: (
              secs: 5,
              nanos: 0,
            ),
            mode: Repeating,
            finished: false,
            times_finished_this_tick: 0,
          ),
        ),
        "bevyrpg::character::Mana": (100),
        "bevyrpg::character::Sleep": (
          value: 80,
          timer: (
            stopwatch: (
              elapsed: (
                secs: 0,
                nanos: 637186190,
              ),
              is_paused: false,
            ),
            duration: (
              secs: 5,
              nanos: 0,
            ),
            mode: Repeating,
            finished: false,
            times_finished_this_tick: 0,
          ),
        ),
        "bevyrpg::character::Thirst": (
          value: 95,
          timer: (
            stopwatch: (
              elapsed: (
                secs: 3,
                nanos: 284547579,
              ),
              is_paused: false,
            ),
            duration: (
              secs: 5,
              nanos: 0,
            ),
            mode: Repeating,
            finished: false,
            times_finished_this_tick: 0,
          ),
        ),
        "bevyrpg::player::Player": (),
      },
    ),
  },
)