#![enable(unwrap_newtypes)]
[
    (
        id: "sample_iron_rich_rock",
        name: "Iron-rich Rock Sample",
        description: "A chunk of stone flecked with rust-colored deposits.",
        weight: 5,
        kind: Sample(
            analysis: ["Contains trace iron oxide.", "Radiation signature: none."],
        ),
    ),
    (
        id: "tin_cup",
        name: "Tin Cup",
        description: "Dented but functional.",
        weight: 1,
        kind: Misc,
    ),
    (
        id: "fungal_mesh",
        name: "Fungal Mesh",
        description: "Fungal Mesh",
        weight: 1,
        kind: Sample(
            analysis: ["Ostensibly the  mycelium of the super-organism. It grows exceptionally fast, being able to cover a football field in under a day."],
        )
    ),
    (
        id: "colloidal_copper",
        name: "Colloidal Copper",
        description: "A potent fungicide",
        weight: 1,
        kind: Misc,
    ),
]
